/*-- scss:defaults --*/

// holistic-color system

$black:            #000000 !default;
$bgwhite:          #fefbf8 !default;
$txtgrey:          #5f5f5f !default;
$holisticorange:   #e77d1a !default;
$rustred:         #D67752 !default;

// Sass variables
//// Colors
$body-bg: $bgwhite !default;
$body-color: $txtgrey !default;
$link-color: $holisticorange !default;
$primary: $holisticorange !default;
$secondary: $holisticorange !default;

// code
$code-color: $rustred;

//// Headings
$presentation-heading-color: $txtgrey !default;

// colorize h1 and h2 if .orange
.reveal .slides h1, .reveal .slides h2 {
  color: $holisticorange
}

// .reveal .slides p:has(img){
//   line-height: 0;
// }

// .reveal .slides h2 {
  //   font-size: 1.em;
  // }
  
  
  $font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
  $font-family-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New" !default;
  
  // mermaid colors
  $mermaid-bg-color: $body-bg;
  $mermaid-edge-color: $secondary;
  $mermaid-node-fg-color: $body-color;
  $mermaid-fg-color: $body-color;
  $mermaid-fg-color--lighter: lighten($body-color, 10%);
  $mermaid-fg-color--lightest: lighten($body-color, 20%);
  $mermaid-font-family: $font-family-sans-serif;
  $mermaid-label-bg-color: $body-bg;
  $mermaid-label-fg-color: $primary;
  $mermaid-node-bg-color: rgba($primary, 0.1);
  $mermaid-node-fg-color: $primary;
  
  //// title-slide partial
// presentation header
#title-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  // max-height: 90vh;
  // width: 90vw;
  justify-content: center;
}
#title-slide .ihk {
  order: 1;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  border-bottom: $holisticorange 3px solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 100px
}
#title-slide .ihk-header {
  color: $txtgrey!important;
  font-size: 1em;
  padding-right: 10px;
}
#title-slide .ihk-logo {
  opacity: .6;
  max-height: 2em;
  width: auto;
}
#title-slide .title {
  order: 3;
  // font-size: 3em;
  color: $txtgrey!important;
  margin-bottom: 1em;
  font-size: 60px;
}
#title-slide .subtitle {
  // font-size: 1.5em;
  order: 4;
  color: $txtgrey!important;
  // border-bottom: $holisticorange 3px solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-size: 48px;
}
#title-slide .authors {
  order: 5;
  width: 100%;
  height: 100%;
  color: $txtgrey!important;
  display: flex;
  justify-content: center;
  align-items: start;
  font-weight: bold;
  padding-bottom: 1em;
}
#title-slide .authors > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#title-slide .authors img {
  width: 100%;
  height: 2.5em;
  width: auto;
}
#title-slide .name {
  font-weight: normal;
}
#title-slide .company-logo {
  height: 10vh
}

//// toc-slide partial
// flexbox
.toc{
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
// Title color
.toc h2.orange {
  color: $holisticorange;
  margin-bottom: .5em;
}
// hide bullet points & display numbers
nav[role="doc-toc"] ul {
  list-style: none;
  counter-reset: section-counter;
  padding-left: 0;
}
nav[role="doc-toc"] ul li {
  counter-increment: section-counter;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}
nav[role="doc-toc"] ul li::before {
  content: counter(section-counter) ". ";
  position: absolute;
  left: 0;
  color: $holisticorange;
}

//// Footer

.hide-logo .slide-logo{
  display: none !important;
}

.reveal .footer > p {
  color: $holisticorange;
  height: 100%;
  margin:0;
}

// Slide Numbers
.reveal .slide-number {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5em;
}
.reveal .slide-number > a {
  color: $holisticorange;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  // background-color: $holisticorange;
}


//// Slides
// subheader
.subheader {
  font-size: 1.5em;
  color: $holisticorange;
}

.secure-layout>*{
  height: 500px
}

// center div content
.center {
  text-align: center;
}

.zoom-in {
  transform: scale(3);
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 700px;
  // height: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reveal .slides .done code, .reveal .slides .done p {
  color: $txtgrey;
  opacity: .8;
}

.reveal .slides .orange p {
  color: $holisticorange;
}