/*-- scss:defaults --*/

// inwt-color system

$black:            #000000 !default;
$bgwhite:          #fefbf8 !default;
$txtgrey:          #5f5f5f !default;
$holisticorange:   #e77d1a !default;

// Sass variables
//// Colors
$body-bg: $bgwhite !default;
$body-color: $txtgrey !default;
$link-color: $holisticorange !default;

//// Headings
$presentation-heading-color: $txtgrey !default;
.orange h1 {
  color: $holisticorange !important;
}

//// Layout
$presentation-block-margin: 12px !default;

// fonts
$presentation-font-size-root: 2rem !default;

// $font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New" !default;
// $font-size-base: 1rem !default;

// $bgwhite:        #002A48 !default;
// $midblue:         #055272 !default;
// $lightblue:       #5E849F !default;

// $darksagegreen:   #6F9591 !default;
// $lightsagegreen:  #8ABAB5 !default;

// $rustred:         #D67752 !default;
// $txtgrey:          #F5A75E !default;
// $powderpink:      #F6E9E4 !default;

// .reveal {
//   font-size: 1.5*$font-size-base!important;
// }
// $code-block-font-size: 0.75em; // 0.55em is default

// code
// $code-color: $rustred;

// links
// $link-hover-color: $lightsagegreen;
// $link-color: $darksagegreen;

// note
// div.callout-note.callout {
  // border-left-color: $lightblue!important;
// }
// div.callout-note.callout-style-default .callout-title {
//   background-color: lighten($lightblue, 10%)!important;
// }

// // warning
// div.callout-warning.callout {
//   border-left-color: $rustred!important;
// }
// div.callout-warning.callout-style-default .callout-title {
//   background-color: lighten($rustred, 10%)!important;
// }

// caution
// div.callout-caution.callout {
//   border-left-color: $txtgrey!important;
// }
// div.callout-caution.callout-style-default .callout-title {
//   background-color: lighten($txtgrey, 10%)!important;
// }

// tip
// div.callout-tip.callout {
//   border-left-color: $lightsagegreen!important;
// }
// div.callout-tip.callout-style-default .callout-title {
//   background-color: lighten($lightsagegreen, 10%)!important;
// }

// // footer
// .reveal .footer {
//   position: fixed;
//   height: 1.5em;
//   padding: 0.5em;
//   bottom: 0!important;
//   background-color: white!important;
//   margin: 0!important;
// }

// .reveal .footer > p {
//   font-weight: bold;
//   // font-size: var(--r-heading2-size);
//   // font-size: 1em;

// }

// // footer logo 
// .reveal .slide-logo {
//   z-index: 3!important;
//   opacity: 0.5!important;
//   height: 1em!important;
//   left: 0!important;
//   padding: 10px 10px !important;
//   margin: 0!important;
//   max-height: none!important;
//   // font-size: var(--r-heading2-size);
// }

.reveal .slides img {
  max-height: 80vh;
}


// menu button - top left
.reveal .slide-menu-button {
  top: 1vh;
}

// presentation header
#title-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  justify-content: center;
}

#title-slide .ihk {
  order: 1;
  display: flex;
  // gap: .1em;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  border-bottom: $holisticorange 3px solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
  width: 100%;
}

#title-slide .ihk-header {
  color: $txtgrey!important;
  font-size: 1em;
  padding-right: 10px;
}

#title-slide .ihk-logo {
  opacity: .6;
  max-height: 2em;
  width: auto;
}

#title-slide .title {
  order: 3;
  // font-size: 3em;
  color: $txtgrey!important;
  margin-bottom: 1em;
}

#title-slide .subtitle {
  // font-size: 1.5em;
  order: 4;
  color: $txtgrey!important;
  // border-bottom: $holisticorange 3px solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-size: var(--r-heading2-size)!important;
}


#title-slide .authors {
  order: 5;
  width: 100%;
  height: 100%;
  color: $txtgrey!important;
  display: flex;
  justify-content: center;
  align-items: start;
  font-weight: bold;
  padding-bottom: 1em;
}

#title-slide .authors > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#title-slide .authors img {
  width: 100%;
  height: 1.5em;
  width: auto;
}



#title-slide .name {
  font-weight: normal;
}

// #title-slide .name {
//   order: 5;
//   width: 100%;
//   margin-top: 1em;
//   color: $txtgrey!important;
// }

// #title-slide .company {
//   width: 100%;
//   order: 9;
//   color: $txtgrey!important;
// }
#title-slide .company-logo {
  height: 10vh
}

// .subtitle::after {
//   content: 'von Thomas Abel';
//   display: block;
//   width: 100%;
//   margin-top: 1em;
//   // font-size: .8em;
// }

// #title-slide img {
//   order: 6;
//   // width: 450px;
//   max-height: 10vh;
// }

// horizontal line
// #title-slide::before {
//   order: 2;
//   content: '';
//   width: 100%;
//   margin-top: 20vh;
//   height: 3px;
//   background-color: $holisticorange; /* Set the line color */
// }

// // auto toc attributes
// #TOC {
//   display: flex !important;
//   height: 100%;
//   align-items: center;
//   background: url(images/toc.svg); 
//   // background-size: 40vh;
//   // background-repeat: no-repeat;
//   // background-position: bottom right;
// }

// #TOC nav {
//   display: flex;
//   justify-content: center;
//   // align-items: center;
//   flex-flow: column nowrap;
//   width: 100%;
//   height: 100%;
//   // gap: 20%;
// }

// #TOC ul {
//   // font-size: 1.5em;
//   align-self: flex-start;
// }

// #TOC li::marker {
//   color: transparent;
// }

// // #TOC li {
// // }

// #TOC li a {
//   color: $txtgrey;
// }

// #toc-title {
//   // font-size: 3em;
//   align-self: flex-start;
//   color: $txtgrey;
// }


// // spotify promo slide
// .reveal .slides {
//   // display: flex;
//   // align-items: center;
//   // justify-content: center;
//   // height: 80vh;
//   // color: $txtgrey;
// }

// .reveal .slides .image1-container {
//   // margin-top: 10vh;
// }

// .reveal .slides .image2-container {
//   // margin-top: 14vh;
// }

// //last slide
// .last-slide {
//   // background: linear-gradient(to bottom, white 50%, $bgwhite 50%);
//   // z-index: -1;
// }

// .reveal .slides .image3 {
//   // margin-top: 150px;
//   // margin-left: 65px;
// }

// .reveal .slides .image4 {
//   // margin-top: 5.9vh;
// }

// //last slide address
// .bottom-left {
//   // position: absolute;
//   // bottom: 80px;
//   // left: 80px;
//   // font-size: 1.25*$font-size-base;
// }